@import "tailwindcss";

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #3f3f46 #09090b;
    /* thumb track */
}

/* Chromium / WebKit */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #09090b;
    /* zinc-950 */
}

::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    /* zinc-700 */
    border-radius: 999px;
    border: 2px solid #09090b;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #52525b;
    /* zinc-600 */
}